form {
  display: inline-block;
}
#inputOne, #inputTwo, #operations, #button {
  position: relative;
  float: left;
  display: inline-block;
  margin: 10px;
}
#operations {
  border: 1px solid black;
  padding: 10px;
  width: 75px;
}
p {
  margin-left: 10px;
}
